
@{
    ViewBag.Title = "Настройка отчета по проектам";
}

<h2>Отчет по проектам</h2>

<h3>Укажите необходимый период и категорию</h3>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Период", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="begin" name="begin" type="datetime-local" />
                <input id="end" name="end" type="datetime-local" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Категория", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("category", null, "", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default " />
            </div>
        </div>
    </div>
}